!!!
%html
  %blockquote
    %h1 AIIT Friend Finderについて
    %p 「AIIT Friend Finder」はAIITの関係者一覧を表示するFacebookアプリケーションです。在学生・修了生・教職員とのコネクション構築にご利用ください。このアプリケーションを利用するには，このページの上にある「いいね!」ボタンを押してFacebookのAIIT公式ページに登録してください。
