/*
  title: base css
*/

/* ------------------------------------------ */

#share-app {
  float: right;
  p {
    float: left; }
  ul {
    float: right; }
  li {
    float: left;
    list-style: none;
    margin-left: 8px; } }

/* =buttons
--------------------------------------------- */

.facebook-button {
  &:link, &:visited {
    background-color: #eee;
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
    background-image: linear-gradient(top, #fdfdfd, #eaebeb);
    border: 1px solid #a9a9a9;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: #4f4f4f;
    display: -moz-inline-box;
    display: inline-block;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    outline: none;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); }
  span {
    background: url("../images/sprites.png") no-repeat;
    padding: 0 7px 0 21px; }
  .speech-bubble {
    background-position: 6px 3px; }
  .plus {
    background-position: 6px -17px; } }

.button {
  &:link, &:visited {
    background-color: #7a90c0;
    background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
    background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
    background-image: -o-linear-gradient(top, #97afe2, #6073a1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
    background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
    background-image: linear-gradient(top, #97afe2, #6073a1);
    border: none;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.33) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.33) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.33) inset;
    color: #1d222c;
    display: inline-block;
    font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    line-height: 32px;
    padding: 0 25px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2); } }

/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */

.clearfix {
  &:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden; }
  zoom: 1; }
