/ -*- coding: utf-8 -*-
!!!
%html
  %head#aiit-fb-friend-finder
    %meta{:charset => "utf-8"}
      %title AIIT Friend Finder
      = stylesheet_link_tag "application"
      = javascript_include_tag "application"
      %meta{:property => "og:title",      :content => "AIIT Friend Finder"}/
      %meta{:property => "og:type",       :content => "app"}/
      %meta{:property => "og:url",        :content => "http://aiit-fb-friend-finder.herokuapp.com/"}/
      %meta{:property => "og:image",      :content => "no image"}/
      %meta{:property => "og:site_name",  :content => "産業技術大学院大学（AIIT）に関係のある友達を検索するツールです"}/
      = yield :app_id
      :javascript
        function popup(pageURL, title,w,h) {
          var left = (screen.width/2)-(w/2);
          var top = (screen.height/2)-(h/2);
          var targetWin = window.open(
            pageURL,
            title,
            'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left
          );
        }
%body
  = yield
